body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    flex-direction: column;
}

#myvideo {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

nav {
    display: flex;
    justify-content: flex-end;
}

header {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    gap: 20px;
    justify-content: center;
}

.loading {
    color: aliceblue;
}

#un {
    font-size: 50px;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.brah {
    display: flex;
    align-items: center;
}

#home {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: aliceblue;
    padding: 15px;
    margin-right: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.cnx {
    background: linear-gradient(to bottom, #000b, #0002, #000b);
    height: 100vh;
    margin: 0px;
    padding: 0px;

}

.center {
    margin-top: 70px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.txt {
    margin: 0px;
    text-align: center;
}

p {
    align-items: center;
    justify-content: center;

}

#bar {
    width: 100px;
    height: 60px;
}

#zero {
    margin-right: 8px;

}

.process-bar {
    width: 350px;
    color: #000;
    background-color: #f1f1f1;
    box-shadow: 2px 2px 20px rgb(0, 0, 0);
    justify-content: center;
    margin-left: 20px;
}

.process-green {
    color: #fff;
    background-color: #3372ad;
}

#hunred {
    margin-left: 8px;
}

.btnsky {
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.btneiei {
    border: 0px ridge #000000;
    border-radius: 0px;
    padding: 12px;
    margin: 10px;
    background-color: #66E5F9;
    color: #000000;
    font-weight: normal;
    opacity: 1;
    transition: 1s;
    text-decoration: none;

}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 55px;
    gap: 25px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    color: aliceblue;
}